{% extends "base_sections.html" %}


{% block title %}
  <title>{{ cook.first_name }} {{ cook.last_name }}</title>
{% endblock %}

{% block header %}

    {% include 'includes/sidebar.html' %}

{% endblock header %}

{% block content %}
  <div class="container mt-8 mb-6">
    <h1 class="mt-5 text-center">Chef: {{ cook.first_name }} {{ cook.last_name }} ({{ cook.username }})</h1>
    <p><strong>Years of experience: </strong>{{ cook.years_of_experience }}</p>
    <div class="ml-3">
      <h2 class="mt-4 text-center">Dishes</h2>

      <table class="table table-striped table-bordered table-hover mt-3">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Dish Type</th>
          </tr>
        </thead>
        <tbody>
          {% for dish in cook.dishes.all %}
            <tr>
              <td class="text-center"><a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a></td>
              <td class="text-center">{{ dish.dish_type }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">This chef has no dishes yet</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
