{% extends "base_sections.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>{{ object|yesno:"Update,Create" }} {{ cook.first_name }} {{ cook.last_name }}</title>
{% endblock %}

{% block header %}

    {% include 'includes/sidebar.html' %}

{% endblock header %}

{% block content %}
  <div class="container mt-8">
    <h1 class="text-center">{{ object|yesno:"Update,Create" }} cook</h1>
    <form action="" method="post" novalidate class="needs-validation">
      {% csrf_token %}
      <div class="form-group">
        {{ form|crispy }}
      </div>
      <input type="submit" value="Confirm" class="btn btn-primary">
    </form>
  </div>
{% endblock %}
