{% extends "base.html" %}

{% block content %}
  <h1>{{ dish.name }}</h1>
  <p><strong>Dish type: </strong>{{ dish.dish_type }}</p>
  <p><strong>Description: </strong>{{ dish.description }}</p>
  <p><strong>Price: </strong>{{ dish.price }}</p>
  <div class="ml-3">
    <h2>Cooks: </h2>
    {% for cook in dish.cooks.all %}
      <hr>
      <a href="{{ cook.get_absolute_url }}"><p>{{ cook.first_name }} {{ cook.last_name }} ({{ cook.username }})</p>
    {% empty %}
      <p>No cooks!</p>
    {% endfor %}
  </div>
{% endblock %}