{% extends "base.html" %}

{% block content %}
  <h1>Name of the Dish: {{ dish.name }} {{ dish.dish_type }}</h1>
  <p><strong>Description: </strong>{{ dish.description }}</p>
  <p><strong>Price: </strong>{{ dish.price }}</p>
  <div class="ml-3">
    <h2>Cooks: </h2>
    {% for cook in dish.cooks.all %}
      <hr>
      <p class="text-muted">{{ cook.id }}</p>
      <p>{{ cook.first_name}} {{ cook.last_name }} ({{ cook.username }})</p>
    {% empty %}
      <p>No cooks!</p>
    {% endfor %}
  </div>
{% endblock %}