{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

  {% block title %}
    <title>
      Soft UI Design System by Creative Tim
    </title>
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>

  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet"/>

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet"/>

  <link id="pagestyle" href="{% static 'css/soft-design-system.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer-styles.css' %}">
</head>

<body>
  <div class="page-container">
    {% block body %}{% endblock body %}

    {% block header %}{% endblock header %}

    {% block content %}{% endblock content %}

    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </div>

  {% block footer %}
    {% include 'includes/footer_background.html' %}
  {% endblock footer %}

  {% include 'includes/scripts.html' %}

  {% block javascripts %} {% endblock javascripts %}

</body>
</html>
